requests==2.32.4
lxml==5.4.0
opencv-contrib-python==4.12.0.88
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
numpy==2.0.2
psycopg==3.2.9
matplotlib==3.10.0
matplotlib-inline==0.1.7
matplotlib-venn==1.1.2